<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= user %>">
    <meta name="twitter:creator" content="<%= user %>">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="<%= host_url %>/static/<%= user %>/preview/<%= photo %>.jpeg">

    <style>
      .lbox img, .container img, .container-fluid img {
          width: 100%;
      }

      .lbox, body .modal-dialog { /* Width */
          max-width: 100%;
          width: auto !important;
          display: inline-block;
      }

      .modal {
        z-index: -1;
        display: flex !important;
        justify-content: center;
        align-items: center;
      }

      .modal-open .modal {
        z-index: 1050;
      }
    </style>
  </head>
  <body>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg modal-lg lbox" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= title %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="/static/<%= user %>/org/<%= photo %>.jpeg" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <%= title %>
    </nav>

    <br /><br /><br />

    <main role="main" class="container">
      <div class="content text-center">
        <a href="#" data-toggle="modal" data-target="#exampleModal">
          <img src="/static/<%= user %>/1080/<%= photo %>.jpeg" class="img-thumbnail" />
        </a>
      </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>